<p style="color: green"><%= notice %></p>

<h1>Kittens</h1>

<div id="kittens">
  <% @kittens.each do |kitten| %>
    <p>
      <%= link_to kitten.name, kitten %>
      <%= link_to fa_icon("trash"), kitten_path(kitten),
                                    data: { turbo_method: :delete,
                                            turbo_confirm: "Are you sure?"
                                          } %>
    </p>
  <% end %>
</div>

<%= button_to "New kitten", new_kitten_path %>
